.externalContainer {
  width: 148px;
}

.helpTextContainer {
  border: 1px solid white;
  border-radius: 3px;
  margin-top: 10px;
  color: white;
  padding: 8px 10px;
}

.helpText {
  font-size: 12px;
}

.container {
  background-color: white;
  border-radius: 3px;
  width: 148px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 12px 6px;
}
.title {
  font-weight: 700;
  font-size: 12px;
}
.value {
  font-weight: 700;
  font-size: 50px;
  font-family: Oswald;
}
.description {
  font-size: 12px;
}
