@import '~antd/dist/antd.css';

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter&family=Oswald:wght@700&display=swap');

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
